*{  
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}

/*
 *   stylesheet to login
 */
section#content-view{
    position: absolute;
    right : 0;
    padding: 20px;
    float: right;
    width: 300px;
    height: 100%;
    background: #353939;
}

section#content-view h1{
    float: left;
    width: 100%;
    font: 3em 'Fredoka One', cursive;
    margin-top: 50px;
    color: #f3f3f3;   
}

section#content-view h3,
section#content-view form p{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One', cursive;
    color: #f3f3f3;
}

section#content-view form,
section#content-view form label{
    float: left;
    width: 100%;
    margin-bottom:10px;
}
section#content-view form{
    margin-top:40px;
}

section#content-view form p{
    font-size: 1.25em;
}

section#content-view form input[type = "submit"],
section#content-view form label input{
    float:left;
    width:100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid rgba(12, 12, 14, 0.133);
    color: #000000;
    font: 1em 'Arial';
}

section#content-view form input[type = "submit"]{
    background: #f3f3f3;
    text-align: center;
    width: 60%;
    float: right;
    font: .8em 'Fredoka One', cursive;
}


#principal{
    position: fixed; 
    float: left;
    width: 220px;
    height: 100%;
    background: #353939;
    z-index: 5;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0  15px rgba(0,0,0,.15);
}
#principal ul,
#principal ul li{
    float: left;
    width: 100%;
}
#principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e9e9e9;

}
#principal ul li a i{
    float:left;
    height: 80px;
    width: 80px;
}

#principal  ul li a h3{
    float:left;
    height: 80px;
    width: 80px;  
    font: 1em 'Fredoka One', cursive;
    color:#e9e9e9;
}
#principal  ul li a:houver{
    float:left;
    height: 80px;
    width: 80px;  
    font: 1em 'Fredoka One', cursive;
    color:#e9e9e9;
}

#view-content{
    position: fixed;
    float:left;
    width:100%;
    height:100%;
    padding: 20px 20px 20px 240px;
    z-index: 1;
}

form.form-padrao{
    float: left;
    width: 100%;
}
form.form-padrao label{
    float: left;
    width: 49%;
    height: 60px;
    padding: 7px 15px;
    border: 1px solid #e9e9e9;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
form.form-padrao label:nth-last-of-type(odd){
    margin-left: 2%;
}
form.form-padrao label span{
    float: left;
    width: 100%;
    font: 400 .75em 'Arial';
    color: #c7c7c7;
    padding-bottom: 5px;
}
form.form-padrao label input{
    float:left;
    width: 100%;
    color: #5c5c5c;
    font: 400 1.25em 'Arial';
    background: transparent;
}
form.form-padrao label.submit{
    background: #353939;
    border-color: #262929;
}
form.form-padrao label.submit input{
    font-weight: 800;
    text-transform: uppercase;
    line-height: 50 px;
    color: #f9f9f9;
}

.default-table{
    float:left;
    width:100%;
    background: #fff;
    border : 1px solid #e9e9e9;
    padding: 10px;
    font: 400 .9em 'Arial';
}
.default-table thead{
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 800px;
}
.default-table thead tr{
    height: 40px;
}
.default-table tbody tr{
    height: 20px;
}